@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400,700');
body {
    font-family: "Open Sans", serif;
}

.wrapper {
    background: url("images/arabesque.png");
    background-color: #2b90d9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 90vh;
    background: #fff;
    width: 60%;
    margin: 0 auto;
}

.title-container {
    height: 90vh;
    background: url("images/adventure-alps-background-547114.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
}
.titles {
    margin-bottom: 250px;
}
.title-container__title {
    font-size: 55px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Merriweather Sans', sans-serif;
}

.title-container__subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Merriweather Sans', sans-serif;
}

.form-container {
    background-color: #dae9f4;
    height: 90vh;
    padding-top: 100px;
    padding-left: 50px;
}

input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #2b90d9;
    width: 30%;
    padding-bottom: 4px;
    padding-left: 20px;
    color: #4F86C6 !important;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
    outline: none;

}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2b90d9 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
    border: 0;
    padding: 8px 20px;
    margin: 0 2px;
    border-radius: 2px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
    align-content: center;
    background-color: #2b90d9;
    color: #fff !important;

}

button:active {
    outline: none;
}